# port pour lancer l'application backend
PORT=8080
# connection to DB : PG_URL=postgresql://<dbuser>:<dbpassword>@<dbhost>:<dbport>/<dbname>
PG_URL=postgresql://postgres:postgres@database:5432/ogre
DATABASE_URL=postgresql://postgres:postgres@database:5432/ogre
PG_URL_TEST=postgresql://postgresql:postgres@localhost:5432/ogre_test
NODE_ENV=development
